[submodule "themes/zzo-sky"]
	path = themes/zzo-sky
	url = https://github.com/sky-bro/hugo-theme-zzo.git
# [submodule "public"]
# 	path = public
# 	url = git@github.com:sky-bro/sky-bro.github.io.git
# 	branch = master
# [submodule "themes/even-sky"]
# 	path = themes/even-sky
# 	url = git@github.com:sky-bro/hugo-theme-even.git
